:root {
    --color-bg-main: #1C1C1C;
    --color-primary: #FF3366;
    --color-secondary: #33FFCC;
    --color-tertiary: #5A5A5A;
    --color-display: #EAEAEA;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #300032 100%);
}


.calculator {
    background-color: var(--color-bg-main);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(255, 51, 102, 0.5);
    width: 350px;
}


.display {
    width: 100%;
    height: 80px;
    background-color: #2D2D2D;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--color-display);
    text-align: right;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    caret-color: transparent;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    padding: 20px 0;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: scale(0.95);
}


.btn-number {
    background-color: var(--color-tertiary);
    color: var(--color-display);
}

.btn-number:hover {
    background-color: #707070;
}

.btn-operator {
    background-color: var(--color-secondary);
    color: var(--color-bg-main);
}

.btn-operator:hover {
    background-color: #00E6B9;
}


.btn-clear {
    background-color: #CC33FF;
    color: var(--color-display);
}

.btn-clear:hover {
    background-color: #A329CC;
}


.btn-equal {
    background-color: var(--color-primary);
    color: var(--color-display);
}

.btn-equal:hover {
    background-color: #FF6699;
}

.span-2 {
    grid-column: span 2;
}